@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 67% 84%;
    --foreground: 40 81% 21%;
    --card: 40 60% 86%;
    --card-foreground: 37 77% 22%;
    --popover: 40 60% 86%;
    --popover-foreground: 37 77% 22%;
    --primary: 64 30% 51%;
    --primary-foreground: 347 100% 98%;
    --secondary: 39 52% 80%;
    --secondary-foreground: 38 49% 34%;
    --muted: 39 54% 77%;
    --muted-foreground: 36 48% 34%;
    --accent: 40 46% 78%;
    --accent-foreground: 340 16% 15%;
    --destructive: 3 95% 55%;
    --border: 37 33% 63%;
    --input: 37 33% 63%;
    --ring: 36 48% 34%;
    --chart-1: 20 85% 52%;
    --chart-2: 174 73% 41%;
    --chart-3: 188 79% 26%;
    --chart-4: 45 98% 53%;
    --chart-5: 32 93% 51%;
    --sidebar: 40 57% 78%;
    --sidebar-foreground: 40 81% 21%;
    --sidebar-primary: 340 16% 15%;
    --sidebar-primary-foreground: 347 100% 98%;
    --sidebar-accent: 40 46% 73%;
    --sidebar-accent-foreground: 340 16% 15%;
    --sidebar-border: 0 0% 88%;
    --sidebar-ring: 0 0% 63%;

    --font-sans: Nunito, sans-serif;
    --font-serif: PT Serif, serif;
    --font-mono: JetBrains Mono, monospace;

    --radius: 0.625rem;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: 23 18% 9%;
    --foreground: 37 55% 81%;
    --card: 20 13% 13%;
    --card-foreground: 37 55% 81%;
    --popover: 20 13% 13%;
    --popover-foreground: 37 55% 81%;
    --primary: 69 13% 50%;
    --primary-foreground: 347 100% 98%;
    --secondary: 27 17% 20%;
    --secondary-foreground: 39 52% 80%;
    --muted: 15 10% 15%;
    --muted-foreground: 37 33% 63%;
    --accent: 27 17% 20%;
    --accent-foreground: 40 46% 78%;
    --destructive: 3 95% 55%;
    --border: 27 17% 20%;
    --input: 27 17% 20%;
    --ring: 69 13% 50%;

    --chart-1: 20 85% 52%;
    --chart-2: 174 73% 41%;
    --chart-3: 188 79% 26%;
    --chart-4: 45 98% 53%;
    --chart-5: 32 93% 51%;
    --sidebar: 27 16% 11%;
    --sidebar-foreground: 37 55% 81%;
    --sidebar-primary: 69 13% 50%;
    --sidebar-primary-foreground: 347 100% 98%;
    --sidebar-accent: 27 17% 20%;
    --sidebar-accent-foreground: 40 46% 78%;
    --sidebar-border: 27 17% 20%;
    --sidebar-ring: 69 13% 50%;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 327 66% 69%;
    --primary-foreground: 337 65.5% 17.1%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 327 66% 69%;
    --primary-foreground: 337 65.5% 17.1%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
