@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24 100% 98.0392%;
  --foreground: 346.6667 7.9646% 22.1569%;
  --card: 0 0% 100%;
  --card-foreground: 346.6667 7.9646% 22.1569%;
  --popover: 0 0% 100%;
  --popover-foreground: 346.6667 7.9646% 22.1569%;
  --primary: 11.625 100% 68.6275%;
  --primary-foreground: 0 0% 100%;
  --secondary: 8.5714 100% 95.8824%;
  --secondary-foreground: 9.913 47.3251% 47.6471%;
  --muted: 15 100% 96.0784%;
  --muted-foreground: 25 5.2632% 44.7059%;
  --accent: 26.1069 98.4962% 73.9216%;
  --accent-foreground: 346.6667 7.9646% 22.1569%;
  --destructive: 355.4913 77.5785% 56.2745%;
  --destructive-foreground: 0 0% 100%;
  --border: 14.6341 100% 91.9608%;
  --input: 14.6341 100% 91.9608%;
  --ring: 11.625 100% 68.6275%;
  --radius: 0.625rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 336 13.5135% 14.5098%;
    --foreground: 21.4286 35% 92.1569%;
    --card: 324 9.6154% 20.3922%;
    --card-foreground: 21.4286 35% 92.1569%;
    --popover: 324 9.6154% 20.3922%;
    --popover-foreground: 21.4286 35% 92.1569%;
    --primary: 11.625 100% 68.6275%;
    --primary-foreground: 0 0% 100%;
    --secondary: 325 9.375% 25.098%;
    --secondary-foreground: 21.4286 35% 92.1569%;
    --muted: 324 9.6154% 20.3922%;
    --muted-foreground: 22.2222 25.2336% 79.0196%;
    --accent: 26.1069 98.4962% 73.9216%;
    --accent-foreground: 336 13.5135% 14.5098%;
    --destructive: 355.4913 77.5785% 56.2745%;
    --destructive-foreground: 0 0% 100%;
    --border: 325 9.375% 25.098%;
    --input: 325 9.375% 25.098%;
    --ring: 11.625 100% 68.6275%;
  }
}
